@model SmallShopFrame.Models.CartViewModel

@{
    ViewBag.Title = "Index";
}

<style>
       img{
        height: 25%;
        width: 25%;
    }

       td:first-of-type{
           width: 200px;
       }

</style>
<h2>My Cart</h2>

<table class="table">
    <tr>
        <th>Image</th>
        <th>Description</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>

    @foreach (var x in Model.cart)
    {
        <tr>
            <td>
                <img src="@x.Image" />
            </td>
            <td>
                @Html.Encode(x.Description)
            </td>
            <td>
                @Html.Encode(x.Name)
            </td>
            <td>
                @Html.Encode(x.Price)
            </td>
            <td>
                A dropdown will go here
            </td>
        </tr>
    }

    <tfoot>
        <tr>
            <td>
                Total Price: 
            </td>
            <td>
                <p>@Model.total</p>
            </td>
        </tr>
    </tfoot>

</table>

@{ Html.BeginForm(); }
<input type="submit" value="Checkout" />
@{ Html.EndForm(); }


@*<table class="table">
        <tr>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

    </table>*@
