@model SmallShopFrame.Models.CartViewModel

@{
    ViewBag.Title = "Index";
}

<h2>My Cart</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var x in Model.cart)
    {
        <tr>
            <td>
                @Html.Encode(x.Description)
            </td>
            <td>
                @Html.Encode(x.Name)
            </td>
            <td>
                @Html.Encode(x.Price)
            </td>
        </tr>
    }

</table>

<p>@Model.total</p>


@*<table class="table">
        <tr>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

    </table>*@
